<header class="header">
  <nav class="navbar navbar-abastecimiento">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="grace">GRACE</span></a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="menu nav navbar-nav">
          <li><a href="http://demo.abastecimiento.pe" target="_blank">Demostración</a></li>
          <li><a href="#razones">Beneficios</a></li>
          <li><a href="#modulos">Módulos</a></li>
          <li><a href="#clientes">Clientes</a></li>
          <li><a href="#contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="welcome-container">
  <div class="animation">
    <img src="/themes/contrib/abastecimiento/images/laptop.png" alt="Demo" class="laptop">
    <img src="/themes/contrib/abastecimiento/images/animation.gif" alt="Demo" class="gif">
  </div>
  <div class="welcome">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-7">
          <div class="welcome-text">
            <div class="row">
              <div class="col-md-9">
                <h1>Sistema Electrónico de Adquisiciones y Contrataciones</h1>
                <p class="short">Genere los procesos de adquisición rápidamente, desde cualquier lugar y desde cualquier dispositivo.</p>      
              </div>
              <div class="col-md-3">
                <div class="text-center try">
                  <a href="http://demo.abastecimiento.pe" target="_blank"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span><br>¡Pruébalo ahora!</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="short-desc">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
          <div class="welcome-items">
            <div class="row">
              <div class="col-md-6">
                <p class="item"><span class="fa fa-fighter-jet"></span> Actualizaciones rápidas</p>
              </div>
              <div class="col-md-6">
                <p class="item"><span class="fa fa-hand-peace-o"></span> Fácil de Aprender y de Usar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="callus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="soporte">
          <i class="fa fa-commenting"></i> Soporte las 24 horas del día y los 365 días del año
        </div>
      </div>
      <div class="col-md-6">
        <div class="numbers">
          <i class="fa fa-phone"></i> 984 755 860 <br>
          <i class="fa fa-at"></i> contacto@abastecimiento.pe
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="reasons" id="razones">
  <div class="container">
    <div class="row">
      <h2 class="text-success"><i class="fa fa-star text-normal"></i> Beneficios</h2>
      <div class="col-md-6">
        <div class="panel panel-warning">
          <div class="panel-heading">
            Fácil de Usar
          </div>
          <div class="panel-body text-center">
            <i class="fa fa-2x fa-hand-peace-o text-warning"></i> <br>
            <p>Muy sencillo de usar y de aprender, sólo se necesitan conocimientos básicos de informática. Si sabes escribir un correo electrónico, entonces ya sabes usar e incluso enseñar <span class="grace">GRACE</span>.</p>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading">
            Actualizaciones Rápidas
          </div>
          <div class="panel-body text-center">
            <i class="fa fa-2x fa-fighter-jet text-success"></i> <br>
            <p>No necesita actualizar las computadoras individualmente, el proceso de actualización es rápidp y limpio. <span class="grace">GRACE</span> no requiere que el usuario se preocupe por obtener la última versión ni interferirá con su trabajo diario para descargar o instalar la última versión.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            Portable
          </div>
          <div class="panel-body text-center">
            <i class="fa fa-2x fa-mobile text-info"></i> <br>
            <p><span class="grace">GRACE</span> tiene un entorno web que es "responsivo", esto quiere decir que puede trabajar y obtener la información desde cualquier dispositivo que se conecte a internet.</p>
          </div>
        </div>
        <div class="panel panel-danger">
          <div class="panel-heading">
            Barato
          </div>
          <div class="panel-body text-center">
            <i class="fa fa-2x fa-money text-danger"></i> <br>
            <p>No necesita gastar en infraestructura, <span class="grace">GRACE</span> está hospedado en un datacenter segurísimo de modo que no tiene que comprar licencias de software para servidores o máquinas que soporten estos. Un único pago anual y usted puede trabajar sin molestias.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modules" id="modulos">
  <div class="container">
    <div class="row">
      <h2 class="text-success"><i class="fa fa-puzzle-piece text-normal"></i> Módulos</h2>
      <div class="col-md-6">
        <div class="well">
          <h4>Sistema de Requerimientos</h4>
          <ul>
            <li>Crear Requerimientos</li>
            <li>Relación de Requerimientos</li>
            <li>Histórico de precios de Productos de Requerimientos</li>
            <li>Reportes e informes generados en Excel y PDF.</li>
          </ul>
        </div>

        <div class="well">
          <h4>Sistema de Órdenes de Servicio</h4>
          <ul>
            <li>Crear Orden de Servicio</li>
            <li>Crear Orden de Servicio con múltiples metas</li>
            <li>Incluye Notificación vía Correo electrónico (Proveedor, area usuaria)  </li>
            <li>Relación de Órdenes de Servicio  </li>
            <li>Histórico de precios de Servicios</li>
            <li>Reportes e informes generados en Excel y PDF </li>
          </ul>
        </div>

        <div class="well">
          <h4>Sistema de Notas de entrada a Almacén</h4>
          <ul>
            <li>Crear Nota de Entrada desde Orden de Compra</li>
            <li>Manejo de decimales en los detalles</li>
            <li>Crear Nota de Entrada desde otra fuente</li>
            <li>Relación de Notas de Entrada</li>
            <li>Stock de Almacén</li>
            <li>Reportes e informes generados en Excel y PDF</li>
            <li>Incluye Envio y/o Notificación de creación Vía Correo electrónico</li>

          </ul>
        </div>

      </div>
      <div class="col-md-6">
        <div class="well">
          <h4>Sistema de Solicitudes de Cotización</h4>
          <ul>
            <li>Crear Solicitud de Cotización</li>
            <li>Subsistema de Cuadros Comparativos</li>
            <li>Incluye Cotizaciones vía Correo electronico </li>
            <li>Relación de Solicitudes de Cotización</li>
            <li>Histórico de Productos de Solicitudes de Cotización</li>
            <li>Reportes e informes generados en Excel y PDF</li>
          </ul>
        </div>

        <div class="well">
          <h4>Sistema de Órdenes de Compra</h4>
          <ul>
            <li>Crear Orden de Compra</li>
            <li>Crear Orden de Compra con múltiples metas</li>
            <li>Incluye Notificación vía Correo electrónico (Proveedor, area usuaria)  </li>
            <li>Relación de Órdenes de Compra  </li>
            <li>Histórico de precios de Compras</li>
            <li>Reportes e informes generados en Excel y PDF </li>
          </ul>
        </div>

        <div class="well">
          <h4>Sistema de Pedidos de Comprobante de Salida</h4>
          <ul>
            <li>Crear PECOSA</li>
            <li>Relación de PECOSA</li>
            <li>Reportes e informes generados en Excel y PDF</li>
            <li>Incluye Envio y/o Notificación de creación Vía Correo electrónico al área Usuaria </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="clients" id="clientes">
  <div class="container">
    <div class="row">
      <h2 class="text-success"><i class="fa fa-users text-normal"></i> Clientes</h2>
      <p>Muchas instituciones confían y trabajan con nosotros desde hace casi 5 años. Entre estas tenemos:</p>
      <div class="col-md-6">
        <ul>
          <li>Municipalidad Provincial de Chumbivilicas - Cusco</li>
          <li>Municipalidad Provincial de Urubamba - Cusco</li>
          <li>Municipalidad Provincial de Paruro - Cusco</li>
          <li>Municipalidad Distrital de Llusco - Cusco</li>
          <li>Municipalidad Distrital de Mollepata - Cusco</li>
          <li>Municipalidad Distrital de Huayllabamba - Cusco</li>
          <li>Municipalidad Distrital de Ccarhuayo - Cusco</li>
          <li>Municipalidad Distrital de Ollantaytambo - Cusco</li>
          <li>Municipalidad Distrital de Lares - Cusco</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li>Municipalidad Distrital de Accha - Cusco</li>
          <li>Municipalidad Distrital de Pillpinto - Cusco</li>
          <li>Municipalidad Distrital de Zurite - Cusco</li>
          <li>Municipalidad Distrital de Quehue - Cusco</li>
          <li>Municipalidad Distrital de Pucyura - Cusco</li>
          <li>Municipalidad Distrital de Colquepata - Cusco</li>
          <li>Municipalidad Distrital de Chinchero - Cusco</li>
          <li>Municipalidad Distrital de Velille - Cusco</li>
          <li>Jefatura X-RPNP - Cusco</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="contact" id="contacto">
  <div class="container">
    <div class="row">
      <h2><i class="fa fa-comment text-normal"></i> Contacto</h2>
      <div class="col-md-6">
        <p>Déjenos sus dudas o preguntas aquí:</p>
        <div class="fb-comments" data-href="http://abastecimiento.pe" data-width="100%" data-numposts="5"></div>
      </div>
      <div class="col-md-6">
        <p>Estamos para servirle las 24 horas del día y los 365 días del año</p>
        <p>
          <i class="fa fa-phone"></i> 984 755 860 <br>
          <i class="fa fa-at"></i> contacto@abastecimiento.pe
        </p>
        <p>
          <div class="fb-page" data-href="https://www.facebook.com/grace.abastecimiento.pe" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/grace.abastecimiento.pe"><a href="https://www.facebook.com/grace.abastecimiento.pe">GRACE - Sistema de Logística y Abastecimiento</a></blockquote></div></div>
        </p>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <p class="text-center">
    <span class="grace grace-inverse">GRACE</span> abastecimiento.pe - &copy; 2016
  </p>
</footer>
